/* Style CSS */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: fantasy;
}
::-webkit-scrollbar {
    display: none;
    visibility: hidden
}

#map {
    height: 100%;
    color: #2d4758
}

h1 {
    font-family: sans-serif;
    margin: 15px;
}

h2 {
    font-size: 25px
}

h3 {
    margin: 10px;
}

h4 {
    font-size: 18px;
    color: #3c5f75
}

a {
    color: #3c5f75;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 10px
}

#description {
  font-size: 15px;
  font-style: oblique;
}

.content {
    height: 100%;
    background: black;
    color: #fff
}

select {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    color: #2d4758
}
select option {
    padding: 10px
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    color: #2d4758
}

.map-options {
    margin-top: 15px;
    height: 50%;
    overflow: scroll
}

.options {
    margin: 0;
    padding: 0;
    background: #fff;
    color: #2d4758
}

li {
    list-style: none;
    padding: 10px;
    cursor: pointer
}

li:hover {
    background: #2d4758;
    color: #fff
}

.glyphicon-align-justify,
.glyphicon-remove {
    font-size: 30px;
    position: relative;
    margin: auto;
    padding: 15px 15px 0 0;
    float: right;
    color: white;
}

.glyphicon-align-justify:hover,
.glyphicon-remove:hover {
    cursor: pointer;
    opacity: .5;
}

/* Responsive CSS */
@media (min-width: 767px) {
  .glyphicon-remove,
  .glyphicon-align-justify {
      display: none;
  }
}

@media (max-width: 767px) {
  .container {
    float: none;
    width: 100%;
  }

  #map {
    position:relative;
    width: 100%;
  }

  .hide {
      display: none;
  }

  header h4 {
      margin-top: 0;
  }

  header h1 {
      margin: 0;
  }

  section.content {
      padding-bottom: 10px;
  }
}

@media (max-width: 360px) {

}