/* Style CSS */

/*for grid purposes
* {
  border: 5px dashed black;
  border-width: thin;
}*/

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body, .info_content{
  font-family: fantasy;
}

#map {
    height: 100%;
}

#description {
    font-size: 15px;
    font-style: oblique;
    text-align: center;
}

header {
  text-align: center;
  border: 2px groove #707070;
  margin-bottom: 10px;
}

section {
  text-align: center;
}

.content {
    background: #B5DBF2;
    color: black;
    padding: 8px;
    border-right: 5px:
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    color: #2F5F8F
}

.search-form {
  height: 30px;
  width: 100%;
  padding-left: 3px;
  padding-right: 1px;
  margin-bottom: 20px;
  display: inline-flex;
}

.search-bar {
  height: 100%;
  width: 100%;
  border: 0px;
  padding-left: 5px;
  font-size: 14px;
  color: #000000;
}

.filter {
  height: 100%;
  width: 15%;
}

h4 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 20px;
}

h6 {
  display: inline;
  font-weight: bold;
  font-size: 13px;
}

.ice_list {
  padding: 0;
  margin-top: 13px;
  text-align: center;
}

.ice_item {
  font-size: 13px;
  padding: 5px;
}

li {
    list-style: none;
    padding: 0.4px;
    cursor: pointer
}

li:hover {
    background-color: #F1F8FA;
    color: black;
}

.glyphicon-align-justify,
.glyphicon-remove {
    font-size: 30px;
    position: relative;
    margin: auto;
    padding: 15px 15px 0 0;
    float: right;
    color: black;
}

.glyphicon-align-justify:hover,
.glyphicon-remove:hover {
    cursor: pointer;
    opacity: .5;
}

/* Responsive CSS */

@media (min-width: 767px) {
    .glyphicon-remove,
    .glyphicon-align-justify {
        display: none;
    }
    .content {
        height: 100%;
    }
}

@media (max-width: 767px) {
    #map {
        position: relative;
        width: 100%;
    }
}

@media (max-width: 360px) {
    header,
    #description {
        text-align: left;
        padding-left: 15px;
    }
}