/* Style CSS */
*{ /*grid styling to check layout*/
  border-color: white;
  border-style: dotted;
  border-width: thin;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: fantasy;
}

body {
  background-color: #24496E;
}

#map, #map-error {
  height: 100%;
}

.content {
  padding: 1em;
}

.map-name {
  position: relative;
  color: white;
  margin: auto;
  padding: 10px;
  background-color: black;
  border: 3px solid #ddd;
}

.form-group{
  font-weight: bold;
  color: white;
  margin: auto;
  padding: 10px;
}

.loc-list{
  color: white;
}

#description {
  color: black;
  font-weight: bold;
  font-size: 1em;
  padding: 10px;
}

.loc-item {
    display: block;
    padding: 10px;
    text-align: center;
}

.scroll-nav {
  position: absolute;
  top: 100;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-y: auto;
  max-height: 100%;
}

header {
  display: inline-flex;
}

.glyphicon-align-justify,
.glyphicon-remove {
    font-size: 30px;
    color: white;
    position: relative;
    float: right;
    padding: 8px;
}

.glyphicon-align-justify:hover,
.glyphicon-remove:hover {
    cursor: pointer;
    opacity: .5;
}

.icon {
    width: 90px;
}

.icons-set {
    text-align: center;
}

li:hover {
  background-color: #CCDBE8;
  color:black;
}

li.selected{
  color:white;
  background-color: black;
}

/* Modal & Button Style */
#myModal {
  top:25%;
}

.info-button, .modal-content{
  font-weight: bold;
  color: black;
  background color:inherit;
  margin: 8px;
  padding: 7px;
  text-align: center;
}

.info-app-button {
  padding: 5px;
  border: 2px solid black;
}

.info-app-button:hover{
  padding: 5px;
  color:white;
  background-color: black;
  border: 2px solid white;
}

/* Responsive CSS*/
@media (min-width: 767px) {
  .glyphicon-remove,
  .glyphicon-align-justify {
      display: none;
  }
}

@media (max-width: 767px) {
    .hide {
        display: none;
    }

    header h4 {
        margin-top: 0;
    }

    header h1 {
        margin: 0;
    }

    section.content {
        padding-bottom: 10px;
    }

}
